 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/569420028-0.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(179,179,179,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  font-weight: 700;
  margin: 250px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 22px rgba(179,179,179,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  /*font-size: 3rem;*/
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.8572em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 320px;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: normal;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 262px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 217px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 600px;
}

.u-section-2 .u-shape-1 {
  height: 372px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -299px auto 60px;
}

.u-section-2 .u-image-1 {
  min-height: 371px;
  background-image: url("images/tg-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 375px;
  background-image: url("images/t.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 368px;
  background-image: url("images/rtt.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 368px;
  background-image: url("images/dddhre-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 517px;
  }

  .u-section-2 .u-shape-1 {
    height: 314px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -241px;
  }

  .u-section-2 .u-image-1 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-2 .u-image-2 {
    min-height: 309px;
  }

  .u-section-2 .u-image-3 {
    min-height: 303px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-2 .u-image-4 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1322px;
  }

  .u-section-2 .u-shape-1 {
    height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -723px;
  }

  .u-section-2 .u-image-1 {
    min-height: 469px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-2 .u-image-2 {
    min-height: 473px;
  }

  .u-section-2 .u-image-3 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-2 .u-image-4 {
    min-height: 464px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2820px;
  }

  .u-section-2 .u-shape-1 {
    height: 1122px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1050px;
  }

  .u-section-2 .u-image-1 {
    min-height: 704px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 710px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 696px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 696px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1822px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 443px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-2 .u-image-2 {
    min-height: 447px;
  }

  .u-section-2 .u-image-3 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-2 .u-image-4 {
    min-height: 438px;
  }
}